@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Recoleta';
  src: url('../assets/fonts/recoleta-bold.ttf');
  font-weight: bold;
  font-style: normal;

}

:root {
  --font-family: 'Inter', sans-serif;
  --font-family-display: 'Recoleta';
  --background-color: #03001e;
  --color-text: #D9D9D9;
  --white-color: #ffffff;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
}

.rainbow-bg {
  background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

  .title, .logo {
  font-family: var(--font-family-display);
  color: var(--white-color);
}

header {
  background-color: rgba(129, 46, 148, 0.178);
  backdrop-filter: blur(10px);
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}