@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Recoleta';
  src: url('../assets/fonts/recoleta-bold.ttf');
  font-weight: bold;
  font-style: normal;

}

:root {
  --font-family: 'Inter', sans-serif;
  --font-family-display: 'Recoleta';
  --background-color: #03001e;
  --color-text: #D9D9D9;
  --white-color: #ffffff;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--color-text);
}

.rainbow-bg {
  background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title, .logo {
  font-family: var(--font-family-display);
  color: var(--white-color);
}

header {
  background-color: rgba(129, 46, 148, 0.178);
  backdrop-filter: blur(10px);
}

.hero-img {
  box-shadow: -50px -20px 40px rgb(227 135 255 / 25%), 0px 50px 40px rgb(255 219 57 / 30%), 50px -20px 40px rgb(118 255 255 / 30%), 0 0 2pt 4pt rgb(255 255 255 / 60%);
  border-radius: 50%;
}

.mousey {
  width: 0.1875rem;
  padding: 0.625rem 0.9375rem;
  height: 2.1875rem;
  border: 2px solid #fff;
  border-radius: 1.5625rem;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 0.1875rem;
  height: 0.625rem;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

.work-img {
  max-height: 16rem;
  object-fit: cover;
}

.about-img {
  max-height: 18.75rem;
  margin: auto;
}

.contact {
  background: rgba(72, 53, 90, 0.39);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 1024px) {
  .wrapper {
    width: 100%;
    max-width: 56rem;
}
}